$green: rgb(20, 43, 19);

.navbar {
  background-color: darken($green, 5%);
  line-height: 2rem;
}

.nav_item_1, .nav_item_2 {
  color: yellowgreen;
  margin-right: 1rem;

  &:hover {
    filter: brightness(150%);
  }
}

