.gameboard_screen {
  background-color: rgb(20, 43, 19);
  min-height: 42.3rem;
  margin-top: -1rem;
}
.timer {
  color: white;
  font-weight: normal;
}

.reset {
  background-color: black;
  color: white;
  height: 2rem;
  position: fixed;
  top: 0;
  left: 0;
}

