.board {
  background-color: white;
  min-height: 100%;
  padding-bottom: 2rem;
  margin-top: -1rem;
}
.timer {
  padding-left: 1rem;
  color:black;
  font-weight: normal;
}

.reset {
  background-color: black;
  color: white;
  height: 2rem;
  position: fixed;
  top: 0;
  left: 0;
}

span {
  color: black; 
}
