

.richtig, .falsch, .fragenAnzahl, .zeit {
    width: 45%;
    text-align: center;
    margin: 0.5rem;
    padding: 1rem;  
    border-radius: 100px;

    margin-left: auto;
    margin-right: auto;
    background: rgb(230, 229, 229);
    vertical-align: middle;
}

.backButton {
    text-align: center;
    margin-top: 2rem;
}

