.registration {
  border: 3px solid rgba(0, 0, 0, 0.137);
  padding: 2rem;
  margin: 2rem auto;
  overflow: hidden;
  color: black;
  background-color: white;
}

h3 {
  text-align: center;
  margin-bottom: 1rem;
}

hr {
  width: 70%;
  size: 5;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-top: 2px solid gray;
}

.reg_form_fields {
  margin-left: 28.5%;
}

.registration {
  display: grid;
  grid-template-columns: auto;
}

.regName__label {
    grid-column: 1;
    grid-row: 1;
    width: 60%;
    font-weight: normal;
  }
  .regName__input {
    grid-column: 1;
    grid-row: 2;
    width: 60%;
    text-align: center;
  }
  .regGb__label {
    grid-column: 1;
    grid-row: 1;
    width: 60%;
    font-weight: normal;
  }
  .regGB__input {
    grid-column: 1;
    grid-row: 2;
    width: 60%;
    text-align: center;
  }
  .regEmail__label {
    grid-column: 1;
    grid-row: 1;
    width: 60%;
    font-weight: normal;
  }
  .regEmail__input {
    grid-column: 1;
    grid-row: 2;
    width: 60%;
    text-align: center;
  }

  .regPw__label {
    grid-column: 1;
    grid-row: 1;
    width: 60%;
    font-weight: normal;
  }
  .regPw__input {
    grid-column: 1;
    grid-row: 2;
    width: 60%;
    text-align: center;
  }

.regSubmitButton {
  width: 30%;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 2rem;
    overflow: hidden;
    line-height: 3rem;
  font-weight: bold;
  background-color: rgb(143, 245, 231);
}
