.button-container {
    .quiz-nav {
      width: 10%;
      padding: 15px;
      box-sizing: border-box;
      border-radius: 100px;
      background: #dfdfdf;
      overflow: hidden;
      font-size: 75%;
    }
  }