.Thema {
    border: 3px solid rgba(9, 58, 21, 0.137);
    max-width: 65%;
    margin: 2rem auto;
    padding: 1rem;
    overflow: hidden;
    color: white;
    font-size: 1rem;
  }

p,input {
    font-size: large;
  }

.thema {
    font-size: 14pt;
  }