@import './gameboard.scss'; 
@import './login.scss'; 
@import './verlauf.scss';
@import './home.scss'; 
@import './ergebnis.scss';


.App {
  max-width: 90%;
  margin: auto;
  padding: 1rem;
}

.App-header {
  height: 11rem; 
  
  h1, h2 {
    text-align: center;
  }
}

.App-navi {
  width: 100%;
  background-color: rgb(0, 0, 0);
}

.App-body {
  max-width: 60rem;
  border-right: 2px solid rgba(0, 0, 0, 0.137);
  border-left: 2px solid rgba(0, 0, 0, 0.137);
  margin: 0rem; 
  padding: 1rem;
}