
.ergebnis_screen {
  border: 3px solid rgba(0, 0, 0, 0.137);
  padding: 2rem;
  background-color: white;
  min-height: 100%;
  display: contents;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 2rem ;
  overflow: hidden;
  color: black;
  overflow-wrap: break-word;
}

.topicname, .commentar, .infotext {
  align-items: center;
  justify-content: center;
  text-align: center;  
  overflow: hidden;
  font-weight: normal;
  font-size: 18pt;
  display: inline-block;
  white-space: nowrap;
}

.topicname {
  font-weight: bold;
}