
.ergebnis_screen {
  border: 3px solid rgba(0, 0, 0, 0.137);
  padding: 2rem;
  background-color: white;
  min-height: 100%;
  display: contents;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 2rem ;
  overflow: hidden;
  color: black;
}

.info {
  font-size: 18pt;
}

.emoji {
 font-size: 50px;
 white-space: nowrap;
}

.commentar {
  font-size: 18pt;
  white-space: nowrap;
}