
.ergebnis_screen {
  background-color: white;
  min-height: 100%;
  font-size: medium;
  font-weight: normal;
  font-size: 1.2rem;
  padding-top: 3rem;
  vertical-align: middle;
}

.richtig,
.falsch,
.fragen_anzahl {
  width: 30%;
  text-align: center;
  margin: 0.5rem;
  padding: 0.8rem;
  border-radius: 70px;
  border: solid black;
  color: black;

  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
}

.richtig {
  background-color: rgb(96, 247, 96);
}
.falsch {
  background-color: red;
}

span {
    font-weight: bold;
  }

